html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.width-0 {
    max-width: 0px;
    overflow: hidden;
}

.divider-line {
    margin-top: 2rem;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: white;
    display: block;
}

.max-width-50 {
    max-width: 50rem;
}