@page
@model SimpleSocialMedia_WebApp.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<div class="container mt-3">
    <div class="w-100 max-width-50 bg-dark text-white rounded mx-auto p-3">
        <h1>@Model.Login.Username</h1>
        <h2>Posts: @Model.PostsCount</h2>
        <h2>Comments: @Model.CommentsCount</h2>
        <h2>Likes Recieved: @Model.LikeCount</h2>
    </div>
</div>
