@page
@model SimpleSocialMedia_WebApp.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<div class="w-100 d-flex justify-content-center my-3">
    <form method="post">
        <a href="~/CreateChat" class="btn btn-primary">Create Post</a>
    </form>
</div>

