@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

@if (!ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger">

    </div>
}

<div class="text-center container">
    <h1 class="display-4 mt-3 mb-5">Welcome</h1>
    <form class="form d-flex flex-column bg-dark text-white justify-content-center align-content-center p-3 rounded w-lg-50 mx-auto max-width-50" method="post">
        <div>
            <label class="d-block" for="username">Username</label>
            <input class="d-block mx-auto w-100 mb-2" type="text" id="username" asp-for="Username" />
        </div>
        <div>
            <label class="d-block" for="password">Password</label>
            <input class="d-block mx-auto w-100" type="password" id="password" asp-for="Password" />
        </div>
        <div class="mt-3">
            <input class="btn btn-primary" type="submit" value="Sign Up" asp-page-handler="SignUp" />
            <input class="btn btn-primary" type="submit" value="Log In" asp-page-handler="LogIn" />
        </div>
    </form>
</div>
